<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastel de Papa</title>
</head>
<body>
    <h1>Receta de Pastel de Papa</h1>
    <hr>
    <pre>
Una receta sencilla y con personalidad propia para empezar el año bien alimentados. 
El pastel de papas, un clásico de los hogares argentinos, es a la vez un plato 
muy popular y difícil de conseguir en restaurantes.
    </pre>
    <h2>Lista de ingredientes</h2>
    <ul>
        <li>1Kg de Papas</li>
        <li>1/2 Kg de Carne picada</li>
        <li>1 Cebolla</li>
        <li>1/2 Pimiento</li>
        <li>2 Dientes de Ajo</li>
        <li>25gr de Manteca</li>
        <li>Aceite</li>
        <li>Sal</li>
        <li>Pimienta</li>
    </ul>
    <h2>Lista de Pasos</h2>
    <ol type="1">
        <li>Cortar las papas en cubos y hervirlas.</li>
        <li>Picar la cebolla, el ajo y el pimiento</li>
        <li>Calentar el aceite en una olla y sofreir cebolla, ajo y pimiento</li>
        <li>Cuando la cebolla este transparente, agregar la carne y sofreirla</li>
        <li>Salpimentar, y condimentar.</li>
        <li>Cuando las papas estén hervidas, hacer el puré con la manteca</li>
        <li>Poner en la fuente para horno base de puré, luego la carne y otra capa de puré por encima</li>
        <li>Llevar a horno fuerte 15-20m</li>
        <li>Servir</li>
    </ol>
    <a href="https://www.paulinacocina.net/pastel-de-papas/15" target="_blank">
        Referencia receta <em>Paulina Cocina</em>
    </a>
    <br>
    <a href="bifeALaCriolla.html">
        Leer receta de <em>Bife a la Criolla</em>
    </a>
    <br>
    <a href="../../index.html">
        Volver al inicio
    </a>
</body>
</html>