<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bife a la Criolla</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Receta de Bife a la Criolla</h1>
    <hr>
    <img src="../img/bifeALaCriolla.webp" height="200" width="200" alt="Bife a la Criolla">
    <pre>
Esta receta es un clásico y muy fácil de hacer, ideal si queres ponerle 
mas onda al comer bife y no simplemente hacerlo a la plancha con ensalada.
    </pre>
    <h2>Lista de ingredientes</h2>
    <ul>
        <li>4 bifes de bola de lomo o cuadrada</li>
        <li>2 Papas</li>
        <li>1 Zanahoria</li>
        <li>1 Cebolla</li>
        <li>1/2 Morrón</li>
        <li>2 Dientes de ajo</li>
        <li>2 Tomates</li>
        <li>1 Lata de arvejas</li>
        <li>1/2 Taza de pure de tomate</li>
        <li>1 Taza de caldo</li>
        <li>Sal</li>
        <li>Pimienta</li>
        <li>Aceite</li>
    </ul>
    <h2>Lista de Pasos</h2>
    <ol type="1">
        <li>Cortar la cebolla en juliana, el morron y picar los dientes de ajo</li>
        <li>Cortar la zanahoria y las papas en rodajas (estas últimas de una forma mas gruesa)</li>
        <li>Colocar en la olla con aceite las capas de verdura y la carne</li>
        <li>Agregar encima el puré de tomate y el caldo </li>
        <li>Cuando rompa en hervor revolver mezclando todos los ingredientes</li>
        <li>Tapar y dejar cocinar en fuego medio por durante 40m aproximadamente</li>
        <li>Cuando la papa ya este cocida, agregar la lata de arvejas y cocinar por 5m más</li>
        <li>Apagar el fuego y dejar reposar unos 10m</li>
        <li>Servir</li>
    </ol>
    <br>
    <iframe width="300" height="200" src="https://www.youtube.com/embed/989XjP0mSyw" 
        title="BIFES A LA CRIOLLA: cena rápida, fácil... ¡y sin ensuciar!!!" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
        encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br>
    <a href="https://www.paulinacocina.net/bifes-a-la-criolla-clasico-argentino/10979" class="enlace"
        target="_blank"> Referencia receta <em>Paulina cocina</em>
    </a>
    <br>
    <br>
    <a href="pastelDePapa.html" class="enlace">Leer receta de <em>Pastel de Papa</em></a>
    </a>
    <br>
    <br>
    <a href="../../index.html" class="enlace">
        Volver al inicio
    </a>
</body>
</html>